<% @user ||= current_user %>
<div class="stats">
    <strong id="following" class="stat">
      <%= link_to @user.following.count, user_following_index_path(@user) %>
    </strong>
    following
    <strong id="followers" class="stat">
      <%= link_to @user.followers.count, user_follower_index_path(@user) %>
    </strong>
    followers
</div>
